.app-container {
	margin: 0;
	padding: 0;
}

.symbols-container {
	display: flex;
	margin: 8px;
}

.symbols-list {
	width: 350px;
	display: flex;
	flex-direction: column;
}

.symbol-data {
	padding: 15px;
	border: 1px solid red;
	flex: 1;
	max-width: calc(100% - 350px);
}
