body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.full-layout {
	min-height: 100vh;
}

.layout .layout-container {
	display: flex;
	padding: 1rem;
}

.layout .layout-container .layout-content {
	flex: 1;
	padding: 1rem;
}

.layout .layout-container .layout-spin {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.layout-content .ant-card-body {
	padding: 0.75rem;
}
