.wrapper {
	background-color: grey;
}
.nvavigation {
	background-color: green;
}

.content {
	background-color: yellow;
}
.grid-controller {
	background-color: red;
}

.grid-box {
	background-color: blue;
}
